<!DOCTYPE html>
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFrag">
<ul class="nav nav-underline">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" th:href="@{/boardList}">목록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/boardInsert}">등록</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>
</th:block>
