<div xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	<h1>보드리스트</h1>
	<table class="table">
		<thead>
			<tr>
				<th>No.</th>
				<th>title</th>
				<th>writer</th>
				<th>regdate</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="board, boardState : ${bList}">
				<tr>
					<td>[[ ${board.bno} ]]</td>
					<td>[[ ${board.title} ]]</td>
					<td>[[ ${board.writer} ]]</td>
					<td>[[ ${#dates.format(board.regdate, 'yyyy년MM월dd일')} ]]</td>
				</tr>
			</th:block>
		</tbody>
	</table>
	<script>
		const contextPath = $("meta[name='contextPath']").attr("value"); 
		$("tbody > tr").on("click", (e) => {
			let bno = $(e.currentTarget).children().first().text();
			let url = `${contextPath}/boardInfo?bno=${bno}`;
			location.href = url;
		});
	</script>
</div>