<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container text-center pt-5">
		<form th:action="@{/bookInsert}" method="post" name="bookfrm">
			<h3>도서 등록</h3>
			<table class="table">
				<tbody>
					<tr>
						<td>도서번호</td>
						<td><input type="text" name="bookNo" th:value="${bookNo}" readonly></td>
					</tr>
					<tr>
						<td>도서명</td>
						<td><input type="text" name="bookName"></td>
					</tr>
					<tr>
						<td>도서표지</td>
						<td><input type="text" name="bookCoverimg"></td>
					</tr>
					<tr>
						<td>출판일자</td>
						<td><input type="text" name="bookDate" placeholder="2000-01-01"></td>
					</tr>
					<tr>
						<td>금액</td>
						<td><input type="text" name="bookPrice"></td>
					</tr>
					<tr>
						<td>출판사</td>
						<td><input type="text" name="bookPublisher"></td>
					</tr>
					<tr>
						<td>도서소개</td>
						<td><input type="text" name="bookInfo"></td>
					</tr>
				</tbody>
			</table>
			<div class="">
				<button type="button" onclick="insertSubmit(event)">등록</button>
				<button type="button" th:onclick="|location.href='@{/bookList}'|">조회</button>
			</div>
		</form>
	</div>
	<script>
	function insertSubmit(e){
		let $bookName = $("input[name=bookName]");
		if(!$bookName.val()){
			alert("도서명이 입력되지 않았습니다.");
			$bookName.focus();
			return;
		}
		alert("도서등록이 완료 되었습니다.")
		bookfrm.submit();
	}
	</script>
</body>
</html>