<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container text-center pt-5">
		<h3>도서 조회/수정</h3>
		<table class="table">
			<thead>
				<tr>
					<th>도서번호</th>
					<th>도서명</th>
					<th>표지</th>
					<th>출판일자</th>
					<th>금액</th>
					<th>출판사</th>
					<th>도서소개</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td>[[${book.bookNo}]]</td>
					<td>[[${book.bookName}]]</td>
					<td><img alt="표지" th:src="${book.bookCoverimg} ? @{/images/{imageName}(imageName=${book.bookCoverimg})} : ''" width="100"></td>
					<td>[[${#dates.format(book.bookDate, "yyyy/MM/dd")}]]</td>
					<td>[[${#numbers.formatInteger(book.bookPrice, 1, "COMMA")}]]</td>
					<td>[[${book.bookPublisher}]]</td>
					<td>[[${book.bookInfo}]]</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>