<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.mapper.BoardMapper">
	<select id="boardList" resultType="co.yedam.vo.BoardVO">
		select *
		from board_tbl
		order by board_no
	</select>
	<select id="boardListPaging" parameterType="co.yedam.common.SearchVO" resultType="co.yedam.vo.BoardVO">
		SELECT b.*
		FROM(SELECT ROWNUM rn, a.*
		     FROM (SELECT *
		           FROM board_tbl
		           WHERE
		           <choose>
		           	<when test="searchCondition == 'T'.toString()">
		           	title like '%'||#{keyword}||'%'
		           	</when>
		           	<when test="searchCondition == 'W'.toString()">
		           	writer like '%'||#{keyword}||'%'
		           	</when>
		           	<when test="searchCondition == 'TW'.toString()">
		           	title like '%'||#{keyword}||'%' 
		           	OR writer like '%'||#{keyword}||'%'
		           	</when>
		           	<otherwise>
		           	1 = 1
		           	</otherwise>
		           </choose>
		           order by board_no DESC) a
		     <![CDATA[
		     where ROWNUM <= (#{page} * 5) ) b
		     ]]>		     
		WHERE b.rn > (#{page} - 1) * 5
	</select>
	<select id="getTotalCnt" resultType="int">
		SELECT COUNT(*)
		FROM board_tbl
		<where>
		  <choose>
			<when test="searchCondition == 'T'.toString()">
			title like '%'||#{keyword}||'%'
			</when>
			<when test="searchCondition == 'W'.toString()">
			writer like '%'||#{keyword}||'%'
			</when>
			<when test="searchCondition == 'TW'.toString()">
			title like '%'||#{keyword}||'%' 
			OR writer like '%'||#{keyword}||'%'
			</when>
		  </choose>
		</where>
	</select>
	<insert id="insertBoard" parameterType="co.yedam.vo.BoardVO">
		insert into board_tbl(board_no, title, content, writer)
		values (board_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	<update id="updateBoard" parameterType="co.yedam.vo.BoardVO">
		update board_tbl
		set title = #{title}, content = #{content}, writer = #{writer}, CREATION_DATE = SYSDATE
		where board_no = #{boardNo}
	</update>
	<delete id="deleteBoard" parameterType="int">
		delete from board_tbl
		where board_no = #{boardNo}
	</delete>
	<select id="getBoard" parameterType="int" resultType="co.yedam.vo.BoardVO">
		select board_no,
		       title,
		       content,
		       writer,
		       click_cnt,
		       creation_date
		from board_tbl
		where board_no = #{boardNo}
	</select>
	<select id="selectMember" resultType="int">
		select *
		from member_tbl
		where user_id = #{id}
		and user_pw = #{pw}
	</select>
</mapper>