<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.mapper.MemberMapper">
	<insert id="insertMember" parameterType="co.yedam.vo.MemberVO">
		<choose>
		  <when test="responsibility.length() == 0">
			insert into member_tbl(user_id, user_pw, user_name, image)
			values (#{userId}, #{userPw}, #{userName}, #{image})
		  </when>
		  <otherwise>
		  	insert into member_tbl(user_id, user_pw, user_name, image, responsibility)
		  	values (#{userId}, #{userPw}, #{userName}, #{image}, 'Admin')
		  </otherwise>
		</choose>
	</insert>
	<select id="selectMember" resultType="co.yedam.vo.MemberVO">
		select *
		from member_tbl
		where user_id = #{id}
		and user_pw = #{pw}
	</select>
	<select id="memberList" resultType="co.yedam.vo.MemberVO">
		select *
		from member_tbl
	</select>
	
	<insert id="insertMemberAjax" parameterType="co.yedam.vo.MemberVO">
		insert into member_tbl(user_id, user_pw, user_name, responsibility)
		values (#{userId}, #{userPw}, #{userName}, #{responsibility})
	</insert>
	<select id="selectMemberAjax" parameterType="string">
		select count(*)
		from member_tbl
		where user_id = #{id}
	</select>
	<delete id="deleteMemberAjax" parameterType="string">
		delete from member_tbl
		where user_id = #{id}
	</delete>
	<update id="updateMemberAjax" parameterType="co.yedam.vo.MemberVO">
		update member_tbl
		set user_name = #{userName}, user_pw = #{userPw}
		where user_id = #{userId}
	</update>
</mapper>