<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.board.mapper.BoardMapper">
	<select id="selectBoardAll">
		SELECT
					bno,
					title,
					contents,
					writer,
					regdate,
					updatedate,
					image
		FROM board
		ORDER BY 1 desc
	</select>
	<select id="selectBoardInfo" parameterType="int" resultType="com.yedam.app.board.service.BoardVO">
		SELECT
					bno,
					title,
					contents,
					writer,
					regdate,
					updatedate,
					image
		FROM board
		WHERE bno = #{bno}
	</select>
	<insert id="insertBoardInfo" parameterType="BoardVO">
	  <selectKey order="BEFORE" keyProperty="bno" resultType="int">
	  	SELECT NVL(MAX(bno), 0) + 1 FROM board
	  </selectKey>
		INSERT INTO board(bno
		                 ,title
		                 <if test="contents != null and !contents.equals('')">
		                 ,contents
		                 </if>
		                 ,writer
		                 ,regdate
		                 ,image)
		VALUES (#{bno}
		       ,#{title}
		       <if test="contents != null and !contents.equals('')">
		       ,#{contents}
		       </if>
		       ,#{writer}
		       <choose>
		       <when test="regdate != null">
		       ,#{regdate}
		       </when>
		       <otherwise>
		       ,sysdate
		       </otherwise>
		       </choose>
		       ,#{image})
	</insert>
	<update id="updateBoardInfo" parameterType="com.yedam.app.board.service.BoardVO">
		UPDATE board
		SET title = #{title}
		   ,contents = #{contents}
		   ,writer = #{writer}
		   ,updatedate = sysdate
		   ,image = #{image}
		WHERE bno = #{bno}
	</update>
	<delete id="deleteBoardInfo">
		DELETE FROM board
		WHERE bno = #{bno}
	</delete>
</mapper>